<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>TrainLine</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
<!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"/>
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

	
	
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">TrainLine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="ml-auto nav-item authenticated dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profile-name" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="profile-name">
                    <a class="dropdown-item" href="#" onclick="logout()">Sign Out</a>
                </div>
            </li>
            <li class="ml-auto nav-item unauthenticated">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#signInModal">Sign In</a>
            </li>
        </ul>
    </div>
</nav>

<main >
    	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-4">
						<div class="booking-cta">
						<br/><br/><br/><br/>
						<h1>See available trains</h1>
							<br/><br/><br/><br/>
						</div> -->
					</div>
					<div class="col-md-12 col-md-offset-1">
						<div class="SearchResult-form">  
                         <div class="container">
                            <div class="row">
								<h5><strong>From:  </strong></h5> &nbsp;<h5 th:text="${source}"/>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <h5><strong>To: </strong></h5>&nbsp;<h5 th:text="${destination}"/> 
                            </div>
							<form action="#" id="PathForm"  method="post" th:action="@{/AddCartItem}" th:object="${CartItem}">
                                <br/><br/>
                                  <table class="table">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col"></th>
										<th scope="col">Source Station </th>
										<th scope="col">Departure Time</th>
										<th scope="col">Destination Station</th>
										<th scope="col">Arrival Time</th>
                                        <th scope="col">Price</th>
                                      </tr>
                                    </thead>
                                    <tbody>
										<th:block th:each="path : ${directpaths}">
											<tr>
												<td> <input type="radio" aria-label="Radio button for path" th:value="${path}" th:field="${CartItem.path}"> </td>
												<td th:text="${path.fromStop} "></td>
												<td th:text="${path.departureTime}"></td>
												<td th:text="${path.toStop}"></td>
												<td th:text="${path.arrivalTime}"></td>
												<td th:value="99.99" th:field="${CartItem.price}"></td>
											</tr>
										</th:block>
                                      
                                      
                                    </tbody>
                                  </table>
							<!-- 	<div class="form-group">
									<div class="form-checkbox">
										<label for="roundtrip">
											<input type="radio" name="flight-type" id="roundtrip" onclick="Check();">
											<span></span>Roundtrip
										</label>
										<label for="one-way">
											<input type="radio" name="flight-type" id="one-way" onclick="Check();">
											<span></span>One way
										</label>
									
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Source Station</span>
											 <select class="form-control" th:field="*{from}">
										        <option value="">Select From</option>
										        <option th:each="stop: ${stops}" th:text="${stop.id} + ': ' + ${stop.name}"
										                th:value="${stop.id}"></option>
										     </select>
										     <span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Destination Station</span>
											<input class="form-control" type="text" placeholder="City">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Departing</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group" id="returnDate">
											<span class="form-label">Returning</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Adults (18+)</span>
											<select class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Children (0-17)</span>
											<select class="form-control">
												<option>0</option>
												<option>1</option>
												<option>2</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Discount</span>
											<select class="form-control">
												<option>Adult (18+)</option>
												<option>Children (0-17)</option>
												
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div> -->
								<div class="form-btn">
									<button class="submit-btn">Add To Cart</button>
								</div>
                            </form>
                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript">
    window.onload = function() {
        document.getElementById('returnDate').style.display = 'none';
    }

    function Check() {
        if (document.getElementById('roundtrip').checked) {
            document.getElementById('returnDate').style.display = 'block';
        } 
        else {
            document.getElementById('returnDate').style.display = 'none';
        }
        
    }

</script>
</body>
</html>